Commodities exported from APRIL 2024- APRIL 2025

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_excel('../excel/commodities 2024-2025.xlsx')
df

,S.No.,HSCode,Commodity,Apr-2024\n(F),Apr - 2025\n(F),% Growth,Apr - Apr 2024\n(F),Apr - Apr 2025\n(F),% Growth_1
0,1.0,1.0,LIVE ANIMALS.,1.97,1.54,-21.49,1.97,1.54,-21.49
1,2.0,2.0,MEAT AND EDIBLE MEAT OFFAL.,261.95,287.27,9.67,261.95,287.27,9.67
2,3.0,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",424.74,487.90,14.87,424.74,487.90,14.87
3,4.0,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,54.42,77.22,41.88,54.42,77.22,41.88
4,5.0,5.0,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.99,20.76,88.83,10.99,20.76,88.83
...,...,...,...,...,...,...,...,...,...
94,95.0,96.0,MISCELLANEOUS MANUFACTURED ARTICLES.,59.85,62.28,4.06,59.85,62.28,4.06
95,96.0,97.0,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,6.90,14.98,117.08,6.90,14.98,117.08
96,97.0,98.0,PROJECT GOODS; SOME SPECIAL USES.,1.75,0.65,-62.77,1.75,0.65,-62.77
97,98.0,99.0,MISCELLANEOUS GOODS.,0.03,0.02,-34.98,0.03,0.02,-34.98
98,NaN,NaN,India's Total Export,35303.60,38461.88,8.95,35303.60,38461.88,8.95

In [3]:
# Change datatype of S.NO and HSCode
df = df.astype({'S.No.':'Int64','HSCode':'Int64'})
df

,S.No.,HSCode,Commodity,Apr-2024\n(F),Apr - 2025\n(F),% Growth,Apr - Apr 2024\n(F),Apr - Apr 2025\n(F),% Growth_1
0,1,1,LIVE ANIMALS.,1.97,1.54,-21.49,1.97,1.54,-21.49
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,261.95,287.27,9.67,261.95,287.27,9.67
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",424.74,487.90,14.87,424.74,487.90,14.87
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,54.42,77.22,41.88,54.42,77.22,41.88
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.99,20.76,88.83,10.99,20.76,88.83
...,...,...,...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,59.85,62.28,4.06,59.85,62.28,4.06
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,6.90,14.98,117.08,6.90,14.98,117.08
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,1.75,0.65,-62.77,1.75,0.65,-62.77
97,98,99,MISCELLANEOUS GOODS.,0.03,0.02,-34.98,0.03,0.02,-34.98
98,<NA>,<NA>,India's Total Export,35303.60,38461.88,8.95,35303.60,38461.88,8.95

In [4]:
new_df = df.loc[:,~df.T.duplicated()]
new_df

,S.No.,HSCode,Commodity,Apr-2024\n(F),Apr - 2025\n(F),% Growth
0,1,1,LIVE ANIMALS.,1.97,1.54,-21.49
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,261.95,287.27,9.67
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",424.74,487.90,14.87
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,54.42,77.22,41.88
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.99,20.76,88.83
...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,59.85,62.28,4.06
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,6.90,14.98,117.08
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,1.75,0.65,-62.77
97,98,99,MISCELLANEOUS GOODS.,0.03,0.02,-34.98
98,<NA>,<NA>,India's Total Export,35303.60,38461.88,8.95

In [5]:
new_df.loc[:, 'Commodity'] = new_df['Commodity'].str.replace('\n',' ',regex=False)
new_df.columns = new_df.columns.str.replace('\n',' ',regex=False)
new_df

,S.No.,HSCode,Commodity,Apr-2024 (F),Apr - 2025 (F),% Growth
0,1,1,LIVE ANIMALS.,1.97,1.54,-21.49
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,261.95,287.27,9.67
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",424.74,487.90,14.87
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,54.42,77.22,41.88
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",10.99,20.76,88.83
...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,59.85,62.28,4.06
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,6.90,14.98,117.08
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,1.75,0.65,-62.77
97,98,99,MISCELLANEOUS GOODS.,0.03,0.02,-34.98
98,<NA>,<NA>,India's Total Export,35303.60,38461.88,8.95

In [6]:
new_df.to_excel('commodities 2024-25.xlsx',index=False)