Commodities exported from APRIL 2021- APRIL 2022

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_excel('../excel/commodities 2021-2022.xlsx')
df

,S.No.,HSCode,Commodity,Apr-2021\n(R),Apr - 2022\n(R),% Growth,Apr - Apr 2021\n(R),Apr - Apr 2022\n(R),% Growth_1
0,1.0,1.0,LIVE ANIMALS.,0.53,0.77,44.70,0.53,0.77,44.70
1,2.0,2.0,MEAT AND EDIBLE MEAT OFFAL.,303.86,307.46,1.19,303.86,307.46,1.19
2,3.0,3.0,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",491.53,546.10,11.10,491.53,546.10,11.10
3,4.0,4.0,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,30.53,64.10,109.99,30.53,64.10,109.99
4,5.0,5.0,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.89,17.73,62.87,10.89,17.73,62.87
...,...,...,...,...,...,...,...,...,...
94,95.0,96.0,MISCELLANEOUS MANUFACTURED ARTICLES.,50.06,71.04,41.92,50.06,71.04,41.92
95,96.0,97.0,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,2.70,3.55,31.43,2.70,3.55,31.43
96,97.0,98.0,PROJECT GOODS; SOME SPECIAL USES.,0.84,1.19,42.42,0.84,1.19,42.42
97,98.0,99.0,MISCELLANEOUS GOODS.,3.49,3.55,1.67,3.49,3.55,1.67
98,NaN,NaN,India's Total Export,30750.58,39698.17,29.10,30750.58,39698.17,29.10

In [4]:
# Change datatype of S.NO and HSCode
df = df.astype({'S.No.':'Int64','HSCode':'Int64'})
df

,S.No.,HSCode,Commodity,Apr-2021\n(R),Apr - 2022\n(R),% Growth,Apr - Apr 2021\n(R),Apr - Apr 2022\n(R),% Growth_1
0,1,1,LIVE ANIMALS.,0.53,0.77,44.70,0.53,0.77,44.70
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,303.86,307.46,1.19,303.86,307.46,1.19
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",491.53,546.10,11.10,491.53,546.10,11.10
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,30.53,64.10,109.99,30.53,64.10,109.99
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.89,17.73,62.87,10.89,17.73,62.87
...,...,...,...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,50.06,71.04,41.92,50.06,71.04,41.92
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,2.70,3.55,31.43,2.70,3.55,31.43
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,0.84,1.19,42.42,0.84,1.19,42.42
97,98,99,MISCELLANEOUS GOODS.,3.49,3.55,1.67,3.49,3.55,1.67
98,<NA>,<NA>,India's Total Export,30750.58,39698.17,29.10,30750.58,39698.17,29.10

In [5]:
new_df = df.loc[:,~df.T.duplicated()]
new_df

,S.No.,HSCode,Commodity,Apr-2021\n(R),Apr - 2022\n(R),% Growth
0,1,1,LIVE ANIMALS.,0.53,0.77,44.70
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,303.86,307.46,1.19
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER\nAQUA...",491.53,546.10,11.10
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY;\nED...,30.53,64.10,109.99
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE\nSPEC...",10.89,17.73,62.87
...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,50.06,71.04,41.92
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,2.70,3.55,31.43
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,0.84,1.19,42.42
97,98,99,MISCELLANEOUS GOODS.,3.49,3.55,1.67
98,<NA>,<NA>,India's Total Export,30750.58,39698.17,29.10

In [6]:
new_df.loc[:, 'Commodity'] = new_df['Commodity'].str.replace('\n',' ',regex=False)
new_df.columns = new_df.columns.str.replace('\n',' ',regex=False)
new_df

,S.No.,HSCode,Commodity,Apr-2021 (R),Apr - 2022 (R),% Growth
0,1,1,LIVE ANIMALS.,0.53,0.77,44.70
1,2,2,MEAT AND EDIBLE MEAT OFFAL.,303.86,307.46,1.19
2,3,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",491.53,546.10,11.10
3,4,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,30.53,64.10,109.99
4,5,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",10.89,17.73,62.87
...,...,...,...,...,...,...
94,95,96,MISCELLANEOUS MANUFACTURED ARTICLES.,50.06,71.04,41.92
95,96,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,2.70,3.55,31.43
96,97,98,PROJECT GOODS; SOME SPECIAL USES.,0.84,1.19,42.42
97,98,99,MISCELLANEOUS GOODS.,3.49,3.55,1.67
98,<NA>,<NA>,India's Total Export,30750.58,39698.17,29.10

In [8]:
new_df.to_excel('commodities 2021-22.xlsx',index=False)